doctype html
html(lang="en-US")
  head: block head
    title= title ? __("%s - flippeducation", __(title)) : "flippeducation"
    meta(charset="utf8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="/css/pure-min.css")
    link(rel="stylesheet" type="text/css" href="/css/grids-responsive-min.css")
    link(rel="stylesheet" type="text/css" href="/css/main.css")
  body
    if query && query.success
      - let succ = query.success
      .pure-g.flash
        .pure-u-1.pure-u-md-2-24
        .pure-u-1.pure-u-md-20-24.main.
          #{__("Video submission")}
          #{succ === "true" ? __("successful") : __("unsuccessful: %s", succ)}.
        .pure-u-1.pure-u-md-2-24
    .pure-g
      .pure-u-1.pure-u-md-2-24
      .pure-u-1.pure-u-md-20-24.main
        input#hamburger-toggle-checkbox(type="checkbox")
        nav.pure-g: .pure-u-1
          .pure-menu.pure-menu-horizontal
            a.pure-menu-heading(href="/") flippeducation
            label(for="hamburger-toggle-checkbox")
              a#hamburger-toggle
                s.bar
                s.bar
            ul.pure-menu-list
              - for (const [path, {navbar, title: tl, navbarTitle}] of pages)
                if navbar
                  if path === page && !(query && query.success)
                    li.pure-menu-item.pure-menu-selected
                      a.pure-menu-link(href="#")= __(tl || navbarTitle)
                  else
                    li.pure-menu-item
                      a.pure-menu-link(href=path)= __(tl || navbarTitle)
        block content
        .footer: .pure_g
          .pure-u-1.pure-u-md-1-3
            - let moreInfo;
            if page === "/license"
              - moreInfo = `<a href="#">${__("more info")}</a>`
            else
              - moreInfo = `<a href="/license">${__("more info")}</a>`
            !=__("Licensed under GPLv3+ (%s).", moreInfo)
          .pure-u-1.pure-u-md-1-3
            if page === "/privacy"
              a(href="#")= __("Privacy")
            else
              a(href="/privacy")= __("Privacy")
      .pure-u-1.pure-u-md-2-24
