doctype html
html(lang="en-US")
  head: block head
    title #{title ? `${title} - ` : ""}flippeducation
    meta(charset="utf8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="/css/pure-min.css")
    link(rel="stylesheet" type="text/css" href="/css/grids-responsive-min.css")
    link(rel="stylesheet" type="text/css" href="/css/main.css")
  body
    if query.success
      - let succ = query.success
      .pure-g.flash
        .pure-u-1.pure-u-md-2-24
        .pure-u-1.pure-u-md-20-24.main.
          Video submission
          #{succ === "true" ? "successful" : `unsuccessful: ${succ}`}.
        .pure-u-1.pure-u-md-2-24
    .pure-g
      .pure-u-1.pure-u-md-2-24
      .pure-u-1.pure-u-md-20-24.main
        nav.pure-g: .pure-u-1: .pure-menu.pure-menu-horizontal
          a.pure-menu-heading(href="/") flippeducation
          ul.pure-menu-list
            - for (const [path, {navbar, title: tl, navbarTitle}] of pages)
              if navbar
                if path === page && !query.success
                  li.pure-menu-item.pure-menu-selected
                    a.pure-menu-link(href="#")= tl || navbarTitle
                else
                  li.pure-menu-item
                    a.pure-menu-link(href=path)= tl || navbarTitle
        block content
        .footer: .pure_g
          .pure-u-1.pure-u-md-1-3
            | Licensed under GPLv3+ (
            if page === "/license"
              a(href="#") more info
            else
              a(href="/license") more info
            | ).
          .pure-u-1.pure-u-md-1-3
            if page === "/privacy"
              a(href="#") Privacy
            else
              a(href="/privacy") Privacy
      .pure-u-1.pure-u-md-2-24
