extends default
append head
  link(rel="stylesheet" type="text/css" href="/css/search.css")
block content
  form
    input#search(
      type="search" name="title"
      placeholder=__("Enter the title of the video here")
    )
    input#submit1(type="submit" value=__("Search"))
    br
    input#advanced-options-button(
      type="button" value=__("Advanced Options")
      onclick="showHideAdvancedOptions()"
    )
    #advanced-options
      label= __("Language")
        select(name="lang")
          option English
      br
      label= __("Subject")
        select(name="subject")
          option Math
          option Science
          option English
      br
      label= __("Grade level")
          input(name="grade-level" placeholder=__("Grade level"))
      br
      label Age
          input(type="number" name="age" min="0" max="256")
      br
      input(type="submit" value="Search")
  script(src="js/search.js" defer)