extends default

mixin form-control(name, display_name, required, ctrlType, options)
  .pure-u-1-2.pure-u-md-1-4.form-control-label
    label(for=`submit-form-${name}`)
      =display_name
      if required
        span.required *
      | :
  .pure-u-1-2.pure-u-md-1-4.form-control
    case ctrlType
      when "select"
        select(id=`submit-form-${name}` name=name.replace(/-/g, "_"))
          - for ([opt_name, opt_display_name] of options)
            option(value=opt_name.replace("-", "_"))
              = `${opt_display_name} (${opt_name})`
      when "textarea"
        textarea(id=`submit-form-${name}` name=name.replace(/-/g, "_"))
      default: input(
        id=`submit-form-${name}` type=ctrlType
        name=name.replace(/-/g, "_")
      )
  .pure-u-md-1-2

append head
  link(rel="stylesheet" type="text/css" href="/css/submit.css")
block content
  p Fields marked with a #[span.required *] are required.
  form(action="/submit", method="post")
    .pure-g
      +form-control(
        "name", "Video name", true, "text"
      )
      +form-control(
        "language", "Language", true, "select",
        [
          ["en", "English"]
        ]
      )
      +form-control(
        "lecturer-name", "Lecturer full name", false, "text"
      )
      +form-control(
        "lecturer-display-name", "Lecturer display name (must be unique)",
        true, "text"
      )
      +form-control(
        "topics", "Topic(s) (e.g. partial fractions)", false, "text"
      )
      +form-control(
        "subjects", "Subject(s) (e.g. calculus, AP Calculus BC)", false, "text"
      )
      +form-control(
        "url", "Video URL", true, "text"
      )
      +form-control(
        "grade-level", "Grade level / experience level", false, "text"
      )
      +form-control(
        "notes", "Any other notes", false, "textarea"
      )

      .pure-u-1-2.pure-u-md-1-4
      .pure-u-1-2.pure-u-md-1-4
        input#submit-form-submit(type="submit" value="Submit")
      .pure-u-md-1-2
